
<div class="container">
  <br>
  <div class="row" style="text-align: center;">
    <h5>Covid 19 Information(Live cases data)</h5>

  </div>
  <br><br>
  <table class="table table-responsive table-hover">
    <thead>
      <tr>
        <th>Country Name </th>
        <th>Total Confirmed Cases </th>
        <th>Recovered</th>
        <th>Deaths</th>
        <th>Active</th>
        <th>Date</th>
        <th>Time</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of getCovidDetails">
        <td> {{data.Country}} </td>
        <td> {{data.Confirmed}} </td>
        <td> {{data.Recovered}} </td>
        <td> {{data.Deaths}} </td>
        <td> {{data.Active}} </td>
        <td> {{data.Date |  date:'d MMM, y' }} </td>
        <td> {{data.Date |  date:'h:mm:ss a' }} </td>

      </tr>
    </tbody>
  </table>
</div>